# OS
.DS_Store
Thumbs.db

# Python (legacy)
__pycache__/
*.pyc
*.pyo

# Node.js / npm
node_modules/

# Build outputs
dist/
build/
/build/FMMLoader26
FMMLoader26.spec

# Tauri
src-tauri/target */

# Logs
*.log
logs/

# Environment
.env
.env.local

# IDE
.vscode/
.idea/
*.swp
*.swo
*~

# Backup
src-old/
src-tauri/gen/schemas/acl-manifests.json
src-tauri/gen/schemas/capabilities.json
src-tauri/gen/schemas/desktop-schema.json
src-tauri/gen/schemas/macOS-schema.json
/src-tauri/target 2
/src-tauri/target 3
/src-tauri/target
